<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.yomozomo.mapper.WalletLogMapper">

    <!-- user_wallet_id로 해당 유저의 지갑 로그 목록 조회 -->
    <select id="findLogsByUserWalletId" parameterType="long" resultType="com.project.yomozomo.domain.WalletLog">
        SELECT *
        FROM wallet_log
        WHERE wallet_id = #{userWalletId}
        ORDER BY created_at DESC
    </select>


</mapper>