<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.yomozomo.mapper.WalletLogMapper">

    <insert id="insertLog" parameterType="com.project.yomozomo.domain.WalletLog">
        INSERT INTO wallet_log (log_id, wallet_id, amount, change_type, created_at)
        VALUES (wallet_log_seq.NEXTVAL, #{userWalletId}, #{amount}, #{type}, SYSDATE)
    </insert>

    <select id="findLogsByUserWalletId" resultType="com.project.yomozomo.domain.WalletLog">
        SELECT * FROM wallet_log
        WHERE wallet_id = #{userWalletId}
        ORDER BY created_at DESC
    </select>
</mapper>