<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.yomozomo.mapper.WalletLogMapper">
    <insert id="insertLog">
        INSERT INTO wallet_log (log_id, user_wallet_id, amount, type, method)
        VALUES (wallet_log_seq.NEXTVAL, #{userWalletId}, #{amount}, #{type}, #{method})
    </insert>
    <select id="findLogsByUserWalletId" resultType="com.project.yomozomo.domain.WalletLog">
        SELECT log_id, user_wallet_id, amount, type, method, created_at
        FROM wallet_log
        WHERE user_wallet_id = #{userWalletId}
        ORDER BY created_at DESC
    </select>
</mapper>

